<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="students" href="/students">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>{{"label.students" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classes" href="/classes">
      <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
      <ion-label>{{"label.classes" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments" href="/payments">
      <ion-icon aria-hidden="true" name="cash-outline"></ion-icon>
      <ion-label>{{"label.payment" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
