<ion-grid>
  <ion-row>
    <ion-col>
      <form (ngSubmit)="onSubmit()" [formGroup]="filterForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "label.class.date.start" | translate }}</ion-label>
              <ion-datetime-button
                slot="end"
                displayFormat="DD MMM yyyy HH MM"
                datetime="date_start"
              ></ion-datetime-button>
              <!-- To connect datetime button with ion datetime "date_start" -->
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    id="date_start"
                    formControlName="date_start"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "label.class.date.end" | translate }}</ion-label>
              <ion-datetime-button
                slot="end"
                displayFormat="DD MMM yyyy HH MM"
                datetime="date_end"
              ></ion-datetime-button>
              <!-- To connect datetime button with ion datetime "date_end" -->
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    id="date_end"
                    formControlName="date_end"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-select
              [label]="'label.form.class.student' | translate"
              formControlName="id_student"
            >
              @for (student of students(); track student.id) {
              <ion-select-option [value]="student.id">{{
                student.name + " " + student.surname
              }}</ion-select-option>
              }
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" type="submit">{{
              "label.filter" | translate
            }}</ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button expand="block" type="button" (click)="reset()">{{
              "label.reset" | translate
            }}</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
